@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-snap-type: proximity;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#gradient {
  height: 20vh;
  background: linear-gradient(rgba(241, 245, 249, 1), transparent);
}

#transition-slide {
  transition: 450ms ease;
}
